!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Paisadesk
    = stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity:"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin:"anonymous"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      %nav.navbar.navbar-fixed-top.navbar-inverse
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => root_path} Paisa Desk
          #navbar.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li{:class => request.path == user_path(current_user) ? "active" : ""}
                %a{:href => user_path(current_user)} Home
              %li{:class => request.path == user_categories_path(current_user) ? "active" : ""}
                %a{:href => user_categories_path(current_user)} Categories
              %li{:class => request.path == user_conventions_path(current_user) ? "active" : ""}
                %a{:href => user_conventions_path(current_user)} Conventions
              %li
                = link_to "Sign out", destroy_user_session_path, method: :delete
    .div{:class => "container"}
      = yield

    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity:"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous"
